<%- include("part/header.ejs") %>

<div class="header-wrap">
    <div class="banner" style="background-image: url(' <%= imageData.webp.large_image_url %>');">
        <div class="shadow"></div>
    </div>
    <div class="header">
        <div class="header-data">
            <div class="cover-wrap">
                <div class="cover-wrap-inner">
                    <img src="<%= animeData.images.jpg.image_url %>" alt="">
                    <div class="action">
                        <div class="list">
                            <div class="add">Add to list</div>
                        </div>
                        <div class="favourit">
                            <svg data-v-0228dea0="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-heart fa-w-16"><path data-v-0228dea0="" fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z" class=""></path></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-anime">
                <h1><%= animeData.title %></h1>
                <p class="description"><%= animeData.synopsis%></p>
                <div class="nav-content">
                    <a href="#" class="tablinks active" onclick="openDetail(event, 'Overview')">Overview</a>
                    <a href="#" class="tablinks" onclick="openDetail(event, 'Watch')">Watch</a>
                    <a href="#" class="tablinks" onclick="openDetail(event, 'Characters')">Characters</a>
                    <a href="#" class="tablinks" onclick="openDetail(event, 'Staff')">Staff</a>
                    <a href="#" class="tablinks" onclick="openDetail(event, 'Stats')">Stats</a>
                    <a href="#" class="tablinks" onclick="openDetail(event, 'Social')">Social</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="main-content">
        <div class="sidebar">
            <div class="alternate ranking">
                #<%= animeData.rank %> Highest Rated All Time
            </div>

            <div class="alternate popularity">
                #<%= animeData.popularity %>Most Popular All Time
            </div>

            <div class="alternate titles">
                <% for (var i = 0; i < animeData.titles.map(name=> name.title).length; i++) {%>
                    <li><%= animeData.titles.map(name=> name.title)[i] %></li>
                <% } %>
            </div>

            <div class="alternate information">
                <li>Type: <%= animeData.type %></li>
                <li>Episodes: <%= animeData.episodes %></li>
                <li>Status: <%= animeData.status %></li>
                <li>Aired: <%= animeData.aired.string %></li>
                <li>
                    Producers: 
                    <% for (var j = 0; j < animeData.producers.map(prod => prod.name).length; j++) {%>
                        <a href="<%= animeData.producers.map(prod => prod.mal_id)[j]%>"><%= animeData.producers.map(prod => prod.name)[j]%></a>
                    <% } %>
                </li>
                <li>Premiered: <%= animeData.season %> <%= animeData.year %></li>
                <li>Studios: 
                    <% for (st = 0; st < animeData.studios.map(studio => studio.name).length; st++) {%>
                        <a href=""><%= animeData.studios.map(studio => studio.name)[st] %></a>
                    <% } %>
                    
                </li>
                <li>Genre: 
                    <% for (k = 0; k < animeData.genres.map(genre => genre.name).length; k++) {%>
                        <a href=""><%= animeData.genres.map(genre => genre.name)[k] %></a>
                    <% } %>
                </li>
                <li>a</li>
                <li>a</li>
            </div>
        </div>
    
        <div id="Overview" class="tabcontent" style="display: block;">
            <div class="relation">
                <h2>Characters</h2>
                <div class="grid-wrap">
                    <% for (var char = "0"; char < 6; char++) {%>
                    <div class="media-relation-card"">
                        <div class="media-character">
                            <img src="<%= character.images[char] %>" alt="">
                            <h3><%= character.name[char]%></h3>
                        </div>
                        <div class="voice-actor">
                            <h3><%= voiceActor.name[char]%></h3>
                            <img src="<%= voiceActor.images[char] %>" alt="">
                        </div>
                    </div>
                    <% } %>
                </div>

                <h2>Staff</h2>
                <div class="grid-wrap">
                    <% for (var st = "0"; st < 3; st++) {%>
                    <div class="media-relation-card">
                        <div class="media-character">
                            <img src="<%= staff.images[st] %>" alt="">
                            <h3><%= staff.name[st] %></h3>
                        </div>
                    </div>
                    <% } %>
                </div>

                <h2>Trailer</h2>
                <% if (locals.animeData.trailer.embed_url) {%>
                    <iframe src="<%= animeData.trailer.embed_url %>" frameborder="0" class="anime-trailer"></iframe>
                <% } else { %>
                    <h3>no trailer availbale</h3>
                    
                <% } %>

                <h2>Watch</h2>

                <h2>Stats</h2>
                <h2>Comment</h2>
            </div>
        </div>
        <div id="Watch" class="tabcontent">b</div>
        <div id="Characters" class="tabcontent">
            <h2>Characters</h2>
            <div class="grid-wrap">
                <% for (var char = "0"; char < character.charId.length; char++) {%>
                <div class="media-relation-card"">
                    <div class="media-character">
                        <img src="<%= character.images[char] %>" alt="">
                        <h3><%= character.name[char]%></h3>
                    </div>
                    <div class="voice-actor">
                        <h3><%= voiceActor.name[char]%></h3>
                        <img src="<%= voiceActor.images[char] %>" alt="">
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <div id="Staff" class="tabcontent">
            <h2>Staff</h2>
            <div class="grid-wrap">
                <% for (var st = "0"; st < staff.staffId.length; st++) {%>
                <div class="media-relation-card">
                    <div class="media-character">
                        <img src="<%= staff.images[st] %>" alt="">
                        <h3><%= staff.name[st] %></h3>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <div id="Stats" class="tabcontent">e</div>
        <div id="Social" class="tabcontent">f</div>
    </div>
    </div>

<script>
    document.title = "<%= animeData.title %> | Anime Finder"
    document.querySelector(".navnav").classList.add("transparant-nav")
</script>
<%- include("part/footer.ejs") %>