<%- include("part/header.ejs") %>
<div class="row">
  <div class="landing-section trending">
    <a href="#" class="title-link">
      <h3>Trending Now</h3>
      <div class="expand">View all</div>
    </a>

    <div class="result">
      <% var titleLinks = topAnimeData.topTitle.map(name => name.replace(/\s/g, '-')); %>
      <% for (var i="0"; i < 6; i++) { %>
        <% var animeUrl = "anime/" + topAnimeData.topMalId[i] + "/" + titleLinks[i]%>
      <div class="media-card">
        <a href="<%= animeUrl %>" class="cover">
          <img src="<%= topAnimeData.topImages[i] %>" alt="" />
        </a>
        <a href="#" class="title"><%= topAnimeData.topTitle[i] %></a>
      </div>
      <% } %>
    </div>
  </div>

  <div class="landing-section popular">
    <a href="#" class="title-link">
      <h3>Popular This Season</h3>
      <div class="expand">View all</div>
    </a>

    <div class="result">
      <% var titleLinks1 = titleA.map(name => name.replace(/\s/g, '-')); %>
      <% for (var i="0"; i < idA.length; i++) {%>
        <% var animeUrl1 = "anime/" + idA[i] + "/" + titleLinks1[i]; %>
      <div class="media-card">
        <a href="<%= animeUrl1 %>" class="cover">
          <img src="<%= imgA[i] %>" alt="" />
        </a>
        <a href="#" class="title"><%= titleA[i] %></a>
      </div>
      <% } %>
    </div>
  </div>

  <div class="landing-section upcoming">
    <a href="#" class="title-link">
      <h3>Upcoming Next Season</h3>
      <div class="expand">View all</div>
    </a>
    <div class="result">
      <% var titleLinks2 = titleU.map(name => name.replace(/\s/g, '-')); %>
      <% for (var i="0"; i < idU.length; i++) {%>
        <% var animeUrl2 = "anime/" + idU[i] + "/" + titleLinks2[i]; %>
      <div class="media-card">
        <a href="<%= animeUrl2 %>" class="cover">
          <img src="<%= imgU[i] %>" alt="" />
        </a>
        <a href="#" class="title"><%= titleU[i] %></a>
      </div>
      <% } %>
    </div>
  </div>

  <div class="landing-section top">
    <a href="#" class="title-link">
      <h3>Top 100 Anime</h3>
      <div class="expand">View all</div>
    </a>

    <div top-100 class="result table">
      <% for (var i = 0; i < 24; i++) {%>
        <% var animeUrl = "anime/" + topAnimeData.topMalId[i] + "/" + titleLinks[i]%>
      <div top-100 class="media-card has-rank">
        <div class="rank circle">
          <span class="hash">#</span>
          <%- i+1 %>
        </div>
        <a top-100 href="<%= animeUrl %>" class="cover">
          <img src="<%= topAnimeData.topImages[i] %>" alt="" />
        </a>
        <div top-100 class="content">
          <div class="rows title">
            <div class="title-wrap">
              <a href="<%= animeUrl %>"><%= topAnimeData.topTitle[i] %></a>
            </div>
            <div class="genres">
              <% for (var j = 0; j < topAnimeData.topGenre[i].length; j++){%>
              <a href="" class="genre bg-<%- i %>">
                <%= topAnimeData.topGenre[i][j] %>
              </a>
              <% } %>
            </div>
          </div>
          <div class="rows score">
            <div class="percentage">
              <%= topAnimeData.topScore[i] %> <% const formattedNumber =
              topAnimeData.topMembers[i].toString().replace(/\B(?=(\d{3})+(?!\d))/g,
              "."); %>
              <div class="sub-row popularity"><%= formattedNumber %></div>
            </div>
          </div>
          <div class="rows format">
            <%= topAnimeData.topType[i] %>
            <div class="sub-row length"><%= topAnimeData.topDuration[i] %></div>
          </div>
          <div class="rows date">
            <%= topAnimeData.topSeason[i] %> <%= topAnimeData.topYear[i] %>
            <div class="sub-row status"><%= topAnimeData.topStatus[i] %></div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <%- include("part/footer.ejs") %>
