<%- include ("part/header.ejs") %>
<div class="row">
    <div class="landing-section trending">
    
        <div class="result">
          <% var titleLinks = animeData.animeTitle.map(name => name.replace(/\s/g, '-')); %>
          <% for (var i="0"; i < animeData.animeId.length; i++) {%>
            <% var animeUrl = "anime/" + animeData.animeId[i] + "/" + titleLinks[i]%>
          <div class="media-card">
            <a href="<%= animeUrl %>" class="cover">
              <img src="<%= animeData.animeImg[i] %>" alt="" />
            </a>
            <a href="<%= animeUrl %>" class="title"><%= animeData.animeTitle[i] %></a>
          </div>
          <% } %>
        </div>
      </div>
</div>
<script>
  document.title = " List of <%= animeInput %> | Anime Finder"
</script>
<%- include("part/footer.ejs") %>